* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p, h2, a{
    color: #8f8f8f;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.0rem;
}

.nav_bar, .about, .Me-section, 
.contact-me, .skills, 
.reserved-rights {
    padding: 50px 70px;
}

.main-content {
    position: relative;
    background-color: #111111;
    width: 100%;
    height: 700px;
}

.main-content:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;

}

.nav_bar {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 60px;
    height: 50px;
}

.nav-item a{
    color: #8f8f8f;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
    transition: all 0.25s linear;
    position: relative;
}

.nav-item a::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #00e6e4;
    position: absolute;
    left: 0px;
    bottom: -3px;
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s linear;
}

.nav-item a:hover:before {
    transform: scale(1);
}

.nav-item a:hover {
    color: #ffffff;
    width: auto;
}

.nav_bar .mobile_icon {
    display: none;
}

.mobile_nav {
    display: none;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
}

.about-text {
    width: 80%;
    line-height: 40px;
    margin-top: 70px;
}

.about-text .name {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 30px;
}

.about-image {
    height: 450px;
    width: 450px;
    background-color: #000000;
    margin-right: 50px;
}

.about-image img {
    width: 350px;
    height: 450px;
    margin: 50px 50px;
}

.project-t {
    text-align: center;
    color: #8f8f8f;
    margin: 100px auto;
}

.project-t h1 {
    color: #ffffff;
    font-size: 4rem;
    margin: 30px, auto;
}

.project-t p {
    font-size: 2rem;
    line-height: 50px;
}

.projects {
    padding: 150px 70px;
}

.project-header {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 40px;
    border-bottom: 2px solid #8f8f8f;
}

.project-sample {
    display: grid;
    grid-template-columns: auto auto;
}

.project-image {
    width: 900px;
    height: 400px;
    background-color: #f3f1ef;
    margin: 50px auto;
}

.project-image img {
    width: 808px;
    height: 394px;
    margin: 50px 50px;
    box-shadow: 0 4px 20px 0 #f3f1ef, 0 6px 20px 0 #f3f1ef;
}

.project-description {
    margin: 100px 10px;
    line-height: 40px;
}

.project-description  h2 {
    color: #000000;
    font-size: 2.3rem;
    margin-bottom: 30px;
}

.status {
    border: 2px solid #fafbfc;
    border-top: 8px solid #1e8bc3;
    border-radius: 10px;
    background-color: #fafbfc;
    width: 70%;
    height: 400px;
    margin: 150px auto;
    text-align: center;
}

.status-text {
    line-height: 70px;
    padding: 70px 100px;
}

.status-text h1 {
    color: #1e8bc3;
    font-size: 3rem;
}

.status-text h2 {
    color: #000000;
}

.contact-form {
    text-align: center;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 200px;
}

input[type=text], input[type=email]  {
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 20px auto;
}

button {
    width: 200px;
    height: 60px;
    border: 0px;
    border-radius: 50px 50px;
    margin-top: 30px;
    font-size: 1.2rem;
    background-color: #00e6e4;
    color: #ffffff;
    cursor: pointer;
}

.btn {
    padding: 15px 15px;
    border: 2px solid #00e6e4;
    border-radius: 50px 50px;
    font-size: 1.2rem;
    background-color: #00e6e4;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
}

.skills {
    position: relative;
    background-color: #c4c4c4;
    width: 100%;
    height: 600px;

    background-image: url(../images/bg-stripes.svg);
    background-position: center;
    background-size: 600px 500px;
    background-repeat: no-repeat;
}

.skills::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
    z-index: -1;
}

.top-skills {
    display: grid;
    grid-template-columns: auto auto auto;
}

.skills-text h2 {
    border-bottom: 3px solid #ffffff;
    color: #000000;
    font-weight: 900;
}

.top-skills img {
    width: 300px;
    height: 250px;
    padding: 30px 50px;
}

.Me-section {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 50px 50px;
    line-height: 50px;
    margin: 100px 0px;
}

.who-section {
    border-right: 3px solid #000000;
    padding: 0px 20px;
}

.why-section {
    padding: 0px 20px;
}

.contact-me {
    position: relative;
    background-color: #111111;
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
    width: 100%;
    line-height: 50px;
    justify-content: space-between;
}

.contact-me::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(4deg);
    z-index: -1;
}

.social-icons a{
    color: #8f8f8f;
}

.social-icons a:hover {
    color: #ffffff;
}

.get-in-touch {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 900;
}

.reserved-rights {
    background-color: #000000;
    height: 100px;
    text-align: center;
    padding: 60px 50px;
}

@media (max-width: 1028px) {
    body {
        text-align: center;
    }

    p, a {
        font-size: 1.2rem;
    }

    h1, h2, h3, h4 {
        font-size: 2rem;
    }

    .mobile_nav {
        display: none;
        background-color: var(--Very_Dark_Violet);
        width: 100%;
        height: 350px;
        text-transform: uppercase;
    }

    .mobile_nav a {
        display: block;
        color: var(--Very_Light_Gray);
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 28px 24px 12px  24px;
        text-decoration: none;
        color: #8f8f8f;
    }

    .nav-item {
        display: none;
    }

    .nav_bar .mobile_icon {
        height: 50px;
        width: 50px;
        display: block;
    }

    .main-content {
        width: 100%;
        height: 1100px;
        padding: 10px;
    }

    .skills {
        width: 100%;
        height: 1300px;
    }

    .contact-me {
        width: 100%;
        height: 700px;
    }

    .about, .top-skills,
    .Me-section, .project-sample,
    .contact-me, .projects {
        display: flex;
        flex-direction: column;
    }

    .nav_bar, .about, .Me-section, 
    .contact-me, .skills, 
    .reserved-rights {
        padding: 0;
    }

    .about-text {
        width: 100%;
        text-align: left;
        line-height: 60px;
    }

    .project-t {
        line-height: 100px;
        text-align: left;
        width: 90%;
    }

    .project-t p {
        font-size: 1.2rem;
    }

    .project-style {
        height: 650px;
    }

    .about-image {
        height: 300px;
        width: 300px;
        margin: 30px auto;
    }
    
    .about-image img {
        width: 250px;
        height: 300px;
        margin: 25px 20px;
    }

    .project-image {
        width: 300px;
        height: 200px;
        margin: 30px auto;
    }
    
    .project-image img {
        width: 250px;
        height: 200px;
        margin: 25px 25px;
    }

    .projects {
        padding: 0px;
        margin-top: 100px;
    }

    .top-skills img {
        padding: 50px;
        margin: 0 auto;
    }

    .status {
        width: 90%;
        margin: 150px auto;
        text-align: center;
    }
    
    .status-text {
        line-height: 70px;
        padding: 50px;
    }

    .contact-form {
        text-align: center;
        width: 90%;
    }
    
    .who-section, .Me-section {
        margin: 50px auto;
    }

    .who-section {
        border-bottom: 3px solid #000000;
        margin: 20px 0;
        border-right: none;
    }

    .get-in {
        margin-top: 40px;
    }

    .social-icons {
        text-align: left;
        margin: 70px auto;
        line-height: 80px;
    }

    .reserved-rights {
        padding: 20px;
    }
}


