@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Catamaran:wght@500;700;900&display=swap');
/* GENERAL STYLING START */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #262626!important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2.0rem;
    font-family: 'Catamaran', sans-serif;
    color: #fff;
}

p, a {
    font-size: .9rem;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Arvo', serif;
    color: #fff;
}

.container {
    padding: 9.0em 0 !important;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

button {
    margin-top: 10px;
    font-size: .8rem;
    background-color: aqua;
    border: 1px solid aqua;
    color: #ffffff;
    cursor: pointer;
    
}

.btn {
    padding: .6em 3em;
    border-radius: 50px 50px;
}

/* GENERAL STYLING END */



/* NAV BAR STYLING START */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 10px 0;
    background-color: rgba(0,0,0, 0.4);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    width: 90%;
}

.logo {
    margin-top: 10px;
}

.col_log {
    color: aqua;
}

.logo_link {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
}

.logo_link:hover {
    text-decoration: none;
    color: aqua;
}

.nav-item {
    display: flex;
    margin: 10px;
    margin-top: 25px;
}

.nav-item a{
    color: #fff;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: all 0.25s linear;
    position: relative;
}

.nav-item a::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #00e6e4;
    position: absolute;
    left: 0px;
    bottom: -3px;
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s linear;
}

.nav-item a:hover:before {
    transform: scale(1);
}

.nav-item a:hover {
    color: #ffffff;
    width: auto;
}
/* NAV BAR STYLING END */


/* NAVIGATION BAR START */
a.sitename, a:visited.sitename {
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif!important;
    font-size: 2.5rem!important;
    line-height: 1.15!important;
    font-weight: 900!important;
}

.show, .hide {
    display: none;
    padding-left: 15px;
    font-size: 1.5rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #fff;
}
/* NAVIGATION BAR END */



/* HERO SECTION STYLING START */
.main-content {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%), url(../images/image_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 900px;

    color: #ffffff;
    position: relative;

}

.about-text .name {
   font-size: 3.5rem;
    font-weight: 900;
    line-height: 2.0;
} 

.chat {
    color: aqua;
    border-bottom: 2px solid aqua;
    text-decoration: none;
}

.chat:hover {
    text-decoration: none;
    color: #fff;
}
/* HERO SECTION STYLING END */


/* ABOUT/SKILL SET STYLING START */
.about_section {
    text-align: center;
    margin: 0 auto 100px auto;
}

.abt__text {
    font-weight: 900;
    border-bottom: 5px solid aqua;
    width: 15%;
    margin: 0 auto;
}

.strength__skills {
    text-align: center;
}

.strength__text {
    margin-top: 20px;
}

.b_add {
    width: 15rem !important;
    height: 20rem !important;
    border-radius: .8rem;
    background: #2b2b2b;
    padding: 3.8rem 1rem 2.2rem;
    box-shadow: 0 1.6rem 3.6rem rgb(0 0 0 / 20%);
    margin-bottom: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: left;
}

.icon_img h4 {
    font-size: 1.5rem;
}

.icon_img img {
    width: 18%;
    margin: 0 auto;
}

.icon_img i {
    fill: #fff;
    color: #dc3545;
    font-size: 40px;
}

.skills_me {
    text-align: center;
}

.img_dev img {
    width: 40%;
    border-radius: 100%;
    margin: 0 auto;
}

.dev_txt {
    margin-top: 20px;
}

.skillset {
    margin: 100px auto;
}

.progress {
    height: 30px;
}

.progress-bar h1 {
    padding: 20px 0 10px 0;
    font-weight: 900;
    font-family: 'Arvo', serif;
    font-size: 1rem;
}

.txt_bg {
    background-color: #04c2c9;
}

.bg-info {
    background-color: aqua;
}

.skill_item {
    display: none;
}



/* ABOUT/SKILL SET STYLING END */



/* PROJECTS STYLING START */
/* .projects {
    background-color: #eee;
} */
.project_grid {
    position: relative;
    width: 100%;
}
  
.image_project {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /* background-color: #fff; */

    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    color: #000;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
.project_grid:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text p {
    color: #e31b6d;
}

.btn-outline-danger {
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid #e31b6d;
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;
    border-radius: 2px;
    color: #e31b6d;
}

.btn-outline-danger:hover {
    background-color: #e31b6d;
    color: #fff;
}
/* PROJECTS STYLING END */



/* FOOTER/CONTACT-ME STYLING START */
.footer {
    background-color: #212121;
}
    
    .footer_body, .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-links {
        display: flex;
    }
    
    .social-btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        font-family: 'Titillium Web', sans-serif;
        color: #333;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        background: white;
        margin: 5px;
        transition: 1s;
    }
    
    .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: 1s;
        text-align: center;
    }
    
    .social-btn:hover {
        width: 150px;
        border-radius: 5px;
    }
    
    .social-btn:hover span {
        padding: 2px;
        width: max-content;
    }
    
    #twitter svg {
        fill: #1da1f2;
    }
    
    #linkedin svg {
        fill: #0e76a8;
    }
    
    #github {
        fill: #333;
    }

/* FOOTER/CONTACT-ME STYLING START */

/*********************************************** ANIMATION **********************************************/
:root {
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 1s;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes flipInY {
  0% {
    opacity: 0;
    transform: perspective(90vw) rotateY(67.50deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

[data-animation] {
  opacity: 0;
  animation-timing-function: var(--animation-timing-function);
  animation-fill-mode: both;
  animation-duration: var(--animation-duration);
  will-change: transform, opacity;
}

/* .animations-disabled {
  &,
  [data-animation] {
    animation: none !important;
    opacity: 1 !important;
  }
} */

.slideInUp {
  animation-name: slideInUp;
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInLeft {
  animation-name: slideInleft;
}
.slideInRight {
  animation-name: slideInRight;
}
/*********************************************** ANIMATION **********************************************/
@media (max-width: 500px) {
    .about-text .name {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.5;
    } 

    .text {
        text-align: center;
        margin: 0 auto;
    }

    .text button {
        text-align: center;
        margin: 0 auto;
    }

    .btn-outline-danger {
        left: -20px;
    }
    .text h2 {
        font-size: 1rem !important;
    }

    .b_add {
        padding: 3.8rem 1rem 1rem;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .logo_link {
        font-size: 2.5rem !important;
        color: #fff;
        font-weight: 900;
        margin-left: 10px;
    }

    p, a {
        font-size: .8rem !important;
    }

    h1, h2, h3, h4 {
        font-size: 2rem;
    }

    .skills_me, .col-xs-12, .col-sm-12 {
        margin-top: 50px;
    }

    .abt__text {
        font-weight: 900;
        border-bottom: 5px solid aqua;
        width: 50%;
        margin: 0 auto;
    }

    .icon_img img {
        width: 15%;
        margin: 0 auto;
    }

    .icon_img {
        margin-top: 50px;
    }

    .icon_img p {
        width: 90%;
        margin: 10px auto;
    }
}


@media (max-width: 1000px) {
    .skill_item {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .fixed-nav-bar {
        height: 100px;
    }

    .nav_bar { 
      position: relative;
      width: 100%;
      display: flex;
    }

    .logo {
      position: absolute;
      left: 0;
    }

    .menu__main {
        margin-left: 7px;
    }

    .nav__menu {
        position: absolute;
        background-color: aqua;
        width: 100%;
        
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item {
      display: none; 
      width: 100%;
      height: 100vh;
      padding: 50px 0;
      margin: 0 auto;

      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;

    }

    .nav-item li {
      display: block;
      text-align: left;
      margin-top: 20px;
      line-height: 80px;
    }

    .nav-item li>a {
        font-size: 30px !important;
    }

/* *********** FADE IN ANIMATION START *********** */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* *********** FADE IN ANIMATION END *********** */

    .show, .hide {  
      position: absolute;
      top: -40px;
      right: 15px;
      font-size: 2rem !important;
    }

    .show {
      display: inline-block;
    }

    .hide {
      display: none;
    }

    #nav:target .show {
      display: none;
    }

    #nav:target .hide, #nav:target .nav-item {
      display: block;
    }
}

@media only screen and (max-width: 220px) {
    .sitename, .show, .hide {
      font-size: 14px;
    }
}

/* @media (max-width: 1028px) {

    .mobile_nav {
        display: none;
        background-color: var(--Very_Dark_Violet);
        width: 100%;
        height: 350px;
        text-transform: uppercase;
    }

    .mobile_nav a {
        display: block;
        color: var(--Very_Light_Gray);
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 28px 24px 12px  24px;
        text-decoration: none;
        color: #8f8f8f;
    }

    .nav-item {
        display: none;
    }

    .nav_bar .mobile_icon {
        height: 50px;
        width: 50px;
        display: block;
    }
} */


