@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Catamaran:wght@500;700;900&display=swap');
/* GENERAL STYLING START */
* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2.0rem;
    font-family: 'Catamaran', sans-serif;
}

p, a {
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Arvo', serif;
}

.container {
    padding: 9.0em 0 !important;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

button {
    margin-top: 10px;
    font-size: .8rem;
    background-color: aqua;
    border: 1px solid aqua;
    color: #ffffff;
    cursor: pointer;
    
}

.btn {
    padding: .6em 3em;
    border-radius: 50px 50px;
}

/* GENERAL STYLING END */



/* NAV BAR STYLING START */
.nav_bar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    width: 90%;
}

.logo {
    margin-top: 10px;
}

.col_log {
    color: aqua;
}

.logo_link {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
}

.logo_link:hover {
    text-decoration: none;
    color: aqua;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-item a{
    color: #fff;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: all 0.25s linear;
    position: relative;
}

.nav-item a::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #00e6e4;
    position: absolute;
    left: 0px;
    bottom: -3px;
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s linear;
}

.nav-item a:hover:before {
    transform: scale(1);
}

.nav-item a:hover {
    color: #ffffff;
    width: auto;
}

.nav_bar .mobile_icon {
    display: none;
}

.mobile_nav {
    display: none;
}
/* NAV BAR STYLING END */



/* HERO SECTION STYLING START */
.main-content {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%), url(../images/image_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    height: 900px;

    color: #ffffff;
    position: relative;

}

.about-text .name {
   font-size: 3.5rem;
    font-weight: 900;
    line-height: 2.0;
} 

.chat {
    color: aqua;
    border-bottom: 2px solid aqua;
    text-decoration: none;
}

.chat:hover {
    text-decoration: none;
    color: #fff;
}
/* HERO SECTION STYLING END */


/* ABOUT/SKILL SET STYLING START */
.about_section {
    text-align: center;
    margin: 0 auto 100px auto;
}

.abt__text {
    font-weight: 900;
    border-bottom: 5px solid #000;
    width: 15%;
    margin: 0 auto;
}

.strength__skills {
    text-align: center;
}

.strength__text {
    margin-top: 20px;
}

.icon_img img {
    width: 30%;
    margin: 0 auto;
}

.skills_me {
    text-align: center;
}

.img_dev img {
    width: 40%;
    border-radius: 100%;
    margin: 0 auto;
}

.dev_txt {
    margin-top: 20px;
}

.skillset {
    margin: 100px auto;
}

.progress {
    height: 30px;
}

.progress-bar h1 {
    padding: 20px 0 10px 0;
    font-weight: 900;
    font-family: 'Arvo', serif;
    font-size: 1rem;
}

.txt_bg {
    background-color: #04c2c9;
}

.bg-info {
    background-color: aqua;
}

.skill_item {
    display: none;
}



/* ABOUT/SKILL SET STYLING END */



/* PROJECTS STYLING START */
.projects {
    background-color: #eee;
}
.project_grid {
    position: relative;
    width: 100%;
}
  
.image_project {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /* background-color: #fff; */

    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    color: #000;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
  
.project_grid:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text p {
    color: #e31b6d;
}

.btn-outline-danger {
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid #e31b6d;
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;
    border-radius: 2px;
    color: #e31b6d;
}

.btn-outline-danger:hover {
    background-color: #e31b6d;
    color: #fff;
}
/* PROJECTS STYLING END */



/* FOOTER/CONTACT-ME STYLING START */
.footer {
    background-color: #1b242f;
}
    
    .footer_body, .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-links {
        display: flex;
    }
    
    .social-btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        font-family: 'Titillium Web', sans-serif;
        color: #333;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        background: white;
        margin: 5px;
        transition: 1s;
    }
    
    .social-btn span {
        width: 0px;
        overflow: hidden;
        transition: 1s;
        text-align: center;
    }
    
    .social-btn:hover {
        width: 150px;
        border-radius: 5px;
    }
    
    .social-btn:hover span {
        padding: 2px;
        width: max-content;
    }
    
    #twitter svg {
        fill: #1da1f2;
    }
    
    #linkedin svg {
        fill: #0e76a8;
    }
    
    #github {
        fill: #333;
    }

/* FOOTER/CONTACT-ME STYLING START */
@media (max-width: 500px) {
    .about-text .name {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.5;
    } 
}

@media (max-width: 800px) {
    .logo_link {
        font-size: 2.5rem !important;
        color: #fff;
        font-weight: 900;
    }

    p, a {
        font-size: .8rem !important;
    }

    h1, h2, h3, h4 {
        font-size: 2rem;
    }

    .skills_me, .col-xs-12, col-sm-12 {
        margin-top: 50px;
    }

    .abt__text {
        font-weight: 900;
        border-bottom: 5px solid #000;
        width: 30%;
        margin: 0 auto;
    }

    .icon_img img {
        width: 15%;
        margin: 0 auto;
    }

    .icon_img {
        margin-top: 50px;
    }

    .icon_img p {
        width: 50%;
        margin: 10px auto;
    }
}


@media (max-width: 1000px) {
    .skill_item {
        display: none;
    }
}

@media (max-width: 1028px) {

    .mobile_nav {
        display: none;
        background-color: var(--Very_Dark_Violet);
        width: 100%;
        height: 350px;
        text-transform: uppercase;
    }

    .mobile_nav a {
        display: block;
        color: var(--Very_Light_Gray);
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 28px 24px 12px  24px;
        text-decoration: none;
        color: #8f8f8f;
    }

    .nav-item {
        display: none;
    }

    .nav_bar .mobile_icon {
        height: 50px;
        width: 50px;
        display: block;
    }
}


